<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SistFlota_ModeloDatosContainer" connectionString="metadata=res://*/SistFlota_ModeloDatos.csdl|res://*/SistFlota_ModeloDatos.ssdl|res://*/SistFlota_ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\SistFlota_db.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Sist_Flota_ModeloAuditoriaContainer" connectionString="metadata=res://*/AUDITORIA.Sist_Flota_ModeloAuditoria.csdl|res://*/AUDITORIA.Sist_Flota_ModeloAuditoria.ssdl|res://*/AUDITORIA.Sist_Flota_ModeloAuditoria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\AUDITORIA\SistFlota_Auditoria.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>