<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <globalization uiCulture="es" culture="es-AR" />
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" defaultUrl="~/View/Index.aspx"></forms>
    </authentication>
    <authorization>
    <allow users="*"/>
</authorization>
  </system.web>
  
    <location path="~/View/About.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="SistFlota_ModeloDatosContainer" connectionString="metadata=res://*/SistFlota_ModeloDatos.csdl|res://*/SistFlota_ModeloDatos.ssdl|res://*/SistFlota_ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\SistFlota_db.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Sist_Flota_ModeloAuditoriaContainer" connectionString="metadata=res://*/AUDITORIA.Sist_Flota_ModeloAuditoria.csdl|res://*/AUDITORIA.Sist_Flota_ModeloAuditoria.ssdl|res://*/AUDITORIA.Sist_Flota_ModeloAuditoria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\AUDITORIA\SistFlota_Auditoria.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>