
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.btnEliminar{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px;
    text-align: center;
    border: 1px solid;
   width:120px; /* or whatever width you want. */
   max-width:120px; /* or whatever width you want. */
   display: inline-block;
   }

.btnEditar{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px;
    text-align: center;
    border: 1px solid;
   width:120px; /* or whatever width you want. */
   max-width:120px; /* or whatever width you want. */
   display: inline-block;
}

.tdChofer {
    align-items: center;
    justify-content: center;
    text-align:center; 

    padding-left:15px;
    padding-right:15px;
}

.semaforo-verde{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #62c462;
    border-color: #62bd4f;
    color: #ffffff;
    text-align: center;
}

    .semaforo-verde hr {
        border-top-color: #55b142;
    }

    .semaforo-verde .alert-link {
        color: #e6e6e6;
    }

.semaforo-amarillo{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f89406;
    border-color: #e96506;
    color: #ffffff;
    text-align: center;
}
    .semaforo-amarillo hr {
        border-top-color: #d05a05;
    }

    .semaforo-amarillo .alert-link {
        color: #e6e6e6;
    }

.semaforo-rojo{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ee5f5b;
    border-color: #ed4d63;
    color: #ffffff;
    text-align: center;
}
    .semaforo-rojo hr {
        border-top-color: #ea364f;
    }

    .semaforo-rojo .alert-link {
        color: #e6e6e6;
    }

.btn-verde {
    color: #ffffff;
    background-color: #62c462;
    border-color: #62c462;
}

    .btn-verde:hover, .btn-verde:focus, .btn-verde:active, .btn-verde.active, .open > .dropdown-toggle.btn-verde {
        color: #ffffff;
        background-color: #42b142;
        border-color: #40a940;
    }

    .btn-verde:active, .btn-verde.active, .open > .dropdown-toggle.btn-verde {
        background-image: none;
    }

    .btn-verde.disabled, .btn-verde[disabled], fieldset[disabled] .btn-verde, .btn-verde.disabled:hover, .btn-verde[disabled]:hover, fieldset[disabled] .btn-verde:hover, .btn-verde.disabled:focus, .btn-verde[disabled]:focus, fieldset[disabled] .btn-verde:focus, .btn-verde.disabled:active, .btn-verde[disabled]:active, fieldset[disabled] .btn-verde:active, .btn-verde.disabled.active, .btn-verde[disabled].active, fieldset[disabled] .btn-verde.active {
        background-color: #62c462;
        border-color: #62c462;
    }

    .btn-verde .badge {
        color: #62c462;
        background-color: #ffffff;
    }

.btn-amarillo {
    color: #ffffff;
    background-color: #f89406;
    border-color: #f89406;
}

    .btn-amarillo:hover, .btn-amarillo:focus, .btn-amarillo:active, .btn-amarillo.active, .open > .dropdown-toggle.btn-amarillo {
        color: #ffffff;
        background-color: #c67605;
        border-color: #bc7005;
    }

    .btn-amarillo:active, .btn-amarillo.active, .open > .dropdown-toggle.btn-amarillo {
        background-image: none;
    }

    .btn-amarillo.disabled, .btn-amarillo[disabled], fieldset[disabled] .btn-amarillo, .btn-amarillo.disabled:hover, .btn-amarillo[disabled]:hover, fieldset[disabled] .btn-amarillo:hover, .btn-amarillo.disabled:focus, .btn-amarillo[disabled]:focus, fieldset[disabled] .btn-amarillo:focus, .btn-amarillo.disabled:active, .btn-amarillo[disabled]:active, fieldset[disabled] .btn-amarillo:active, .btn-amarillo.disabled.active, .btn-amarillo[disabled].active, fieldset[disabled] .btn-amarillo.active {
        background-color: #f89406;
        border-color: #f89406;
    }

    .btn-amarillo .badge {
        color: #f89406;
        background-color: #ffffff;
    }

    .btn-rojo {
    color: #ffffff;
    background-color: #ee5f5b;
    border-color: #ee5f5b;
}

    .btn-rojo:hover, .btn-rojo:focus, .btn-rojo:active, .btn-rojo.active, .open > .dropdown-toggle.btn-rojo {
        color: #ffffff;
        background-color: #e9322d;
        border-color: #e82924;
    }

    .btn-rojo:active, .btn-rojo.active, .open > .dropdown-toggle.btn-rojo {
        background-image: none;
    }

    .btn-rojo.disabled, .btn-rojo[disabled], fieldset[disabled] .btn-rojo, .btn-rojo.disabled:hover, .btn-rojo[disabled]:hover, fieldset[disabled] .btn-rojo:hover, .btn-rojo.disabled:focus, .btn-rojo[disabled]:focus, fieldset[disabled] .btn-rojo:focus, .btn-rojo.disabled:active, .btn-rojo[disabled]:active, fieldset[disabled] .btn-rojo:active, .btn-rojo.disabled.active, .btn-rojo[disabled].active, fieldset[disabled] .btn-rojo.active {
        background-color: #ee5f5b;
        border-color: #ee5f5b;
    }

    .btn-rojo .badge {
        color: #ee5f5b;
        background-color: #ffffff;
    }


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input[type="text"],
input[type="password"] {
    max-width: 280px;
}

.taxi-pattern {
    background-color: #f8ce06;
background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
background-size:20px 20px;
background-position: 0 0, 10px 10px;
padding: 10px;
border: 1px solid rgba(0,0,0,1);

}

.greydout {
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
}

.yellow-icon {
    color: #f8ce06;
    opacity: 0.95;
}
.gradient 
{
    background: linear-gradient(left, white 40%, #8b0 60%);
}

.segmented-button {
  padding: 12px;
}
.segmented-button input[type="radio"] {
  width: 0px;
  height: 0px;
  display: none;
}
.segmented-button label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-shadow: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4));
  background: -webkit-linear-gradient(#ffffff, #e4e4e4);
  background: -moz-linear-gradient(#ffffff, #e4e4e4);
  background: -o-linear-gradient(#ffffff, #e4e4e4);
  background: -ms-linear-gradient(#ffffff, #e4e4e4);
  background: linear-gradient(#ffffff, #e4e4e4);
  border: 1px solid #b2b2b2;
  color: #666666;
  padding: 5px 24px;
  padding-bottom: 3px;
  font-size: 12px;
  cursor: pointer;
  font-family: Helvetica;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  margin-right: -5px;
}
.segmented-button label {
  *display: inline;
}
.segmented-button label:hover {
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
}
.segmented-button label:active, .segmented-button label.active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4e4e4), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#e4e4e4, #ffffff);
  background: -moz-linear-gradient(#e4e4e4, #ffffff);
  background: -o-linear-gradient(#e4e4e4, #ffffff);
  background: -ms-linear-gradient(#e4e4e4, #ffffff);
  background: linear-gradient(#e4e4e4, #ffffff);
}
.segmented-button label:disabled, .segmented-button label.disabled {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(#ffffff, #efefef);
  background: -moz-linear-gradient(#ffffff, #efefef);
  background: -o-linear-gradient(#ffffff, #efefef);
  background: -ms-linear-gradient(#ffffff, #efefef);
  background: linear-gradient(#ffffff, #efefef);
  cursor: default;
  color: #b2b2b2;
  border-color: #cccccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.segmented-button label.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.segmented-button label.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.segmented-button input:checked + label, .segmented-button label.selected {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F3E2A9), color-stop(100%, #FACC2E));
  background: -webkit-linear-gradient(#F3E2A9, #FACC2E);
  background: -moz-linear-gradient(#F3E2A9, #FACC2E);
  background: -o-linear-gradient(#F3E2A9, #FACC2E);
  background: -ms-linear-gradient(#F3E2A9, #FACC2E);
  background: linear-gradient(#F3E2A9, #FACC2E);
}
.segmented-button input:disabled + label {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(#ffffff, #efefef);
  background: -moz-linear-gradient(#ffffff, #efefef);
  background: -o-linear-gradient(#ffffff, #efefef);
  background: -ms-linear-gradient(#ffffff, #efefef);
  background: linear-gradient(#ffffff, #efefef);
  cursor: default;
  color: #b2b2b2;
  border-color: #cccccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}


    /*
.btn-rojo {
    color: #ffffff;
    background-color: #e7201a;
    border-color: #0c0d0e;
}

    .btn-rojo:hover, .btn-rojo:focus, .btn-rojo:active, .btn-rojo.active, .open > .dropdown-toggle.btn-rojo {
        color: #ffffff;
        background-color: #232628;
        border-color: #1e2023;
    }

    .btn-rojo:active, .btn-rojo.active, .open > .dropdown-toggle.btn-rojo {
        background-image: none;
    }

    .btn-rojo.disabled, .btn-rojo[disabled], fieldset[disabled] .btn-rojo, .btn-rojo.disabled:hover, .btn-rojo[disabled]:hover, fieldset[disabled] .btn-rojo:hover, .btn-rojo.disabled:focus, .btn-rojo[disabled]:focus, fieldset[disabled] .btn-rojo:focus, .btn-rojo.disabled:active, .btn-rojo[disabled]:active, fieldset[disabled] .btn-rojo:active, .btn-rojo.disabled.active, .btn-rojo[disabled].active, fieldset[disabled] .btn-rojo.active {
        background-color: #3a3f44;
        border-color: #3a3f44;
    }

    .btn-rojo .badge {
        color: #3a3f44;
        background-color: #ffffff;
    }
*/



